*{
    margin:0px;
    padding:0px;
    font-family: monospace;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: BOTTOM;
    justify-content: center;
    background: lightgray;
    perspective: 1000px;
   
}

.book{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.book:hover .cover{
    transform: rotateY(180deg);
    Z-index:-2;
}

.book:hover .page{
    transform: rotateY(180deg);
    z-index: 2;
}

.cover{
    height:50vh;
    width:100vw;
    background-color: pink;
    position: absolute;
    transform: rotate(180deg);
    z-index: 3;
    transition: all 3s;
    transform-origin: center top;
}

.back-cover{
    height:50vh;
    width:100vw;
    background-color: lightblue;
    position: absolute;
    transform: rotateY(180deg);
    z-index: -2;
    transform-origin: center top;
}

.page{
    height:45vh;
    width: 90vw;
    background: white;
    position: absolute;
    transform: rotateY(-180deg);
    z-index: 2;
    transform-origin: center top;
}

.last-page{
    height:45vh;
    width: 90vw;
    background: white;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 2;
    transform-origin: center top;

}


.page:nth-child(2){
    transition-duration: 3.8s;

}

.page:nth-child(3){
    transition-duration: 3.4s;

}

.page:nth-child(4){
    transition-duration: 3s;

}

.page:nth-child(5){
    transition-duration: 2.6s;

}

.page:nth-child(6){
    transition-duration: 2.2s;

}

/* .page:nth-child(7){
    transition-duration: 1.8;

} */


.book:hover .page:nth-child(2){
    transition-duration: 6.4s;
}

.book:hover .page:nth-child(3){
    transition-duration: 6s;
}

.book:hover .page:nth-child(4){
    transition-duration: 5.6s;
}

.book:hover .page:nth-child(5){
    transition-duration: 5.2s;
}

.book:hover .page:nth-child(6){
    transition-duration: 4.8s;
}

/* .book:hover .page:nth-child(7){
    transition-duration: 4.4s;
} */


.last-page img{
    width: 150px;
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: -1;
}

.last-page h2{
    text-align: center;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}
